:root {
    --ccom-blue: #03538D;
}
a {
    color: var(--ccom-blue);
    text-decoration: none;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

h2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.main-wrapper {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.primary-header {
    width: 100%;
    background-color: var(--ccom-blue);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    clear: left;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

img.logo {
    width: 60px;
    padding-right: 10px;
}

.main-wrapper .file-upload {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-wrapper .file-upload input {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-wrapper .file-upload input[type="file"] {
    width: 80%;
}

.main-wrapper .file-upload input[type="button"]:hover {
    color: var(--ccom-blue);
    transition: all ease-in-out 200ms;
}