/* Status Table Formatting */

.status-table-row {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    table-layout: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 30px;
    column-gap: 50px;
}

.status-table-row table {
    border-width: 4px 0px 4px 0px;
    border-style: solid;
    border-color: var(--ccom-blue);
    border-collapse: collapse;
}

.status-table-row table tr:nth-child(even) {
    background-color: #E0E0E0;
}

.status-table-row table td {
    padding-top: 2px;
    padding-bottom: 2px;
}

.status-table-row table td:nth-child(2) {
    text-align: right;
    padding-left: 30px;
}

.refresh-button {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.refresh-button input[type="button"] {
    font-size: 18px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.refresh-button input[type="button"]:hover {
    color: var(--ccom-blue);
    transition: all ease-in-out 200ms;
}

.data-table-row {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    table-layout: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 30px;
    column-gap: 50px;
}

.data-table-row table {
    border-width: 4px 0px 4px 0px;
    border-style: solid;
    border-color: var(--ccom-blue);
    border-collapse: collapse; 
}

.data-table-row table tr:nth-child(even) {
    background-color: #E0E0E0;
}

.data-table-row table td {
    padding-top: 2px;
    padding-bottom: 2px;
}

.data-table-row table td:nth-child(1) {
    text-align: left;
    padding-right: 30px;
}

.data-table-row table td:nth-child(2) {
    text-align: left;
    padding-right: 30px;
}

.data-table-row table th:nth-child(3) {
    text-align: right;
    padding-right: 30px;
}

.data-table-row table td:nth-child(4) {
    padding-left: 30px;
}

.id-table-row {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    table-layout: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 30px;
    column-gap: 50px;
}

.id-table-row table {
    border-width: 4px 0px 4px 0px;
    border-style: solid;
    border-color: var(--ccom-blue);
    border-collapse: collapse;
}

.id-table-row table tr:nth-child(even) {
    background-color: #E0E0E0;
}

.id-table-row table td {
    padding-top: 2px;
    padding-bottom: 2px;
}

.id-table-row table td:nth-child(1) {
    text-align: center;
}

.id-table-row table td:nth-child(2) {
    text-align: right;
    padding-left: 30px;
}

.id-table-row table td:nth-child(3) {
    padding-left: 30px;
}
